<div id="content">
    <p>The best from our products</p>
    <hr class="hr">
    <div class="container">
      <div class="flipper">
        <div class="front">
          <img src="assets/img/fjori1.jpg/">
          <p class="caption">Jasmin</p>
        </div>
        <div class="back">
          <a href="https://en.wikipedia.org/wiki/Cherry_blossom" target="_blank">
            <h1>Jasmin</h1>
          </a>
          <p class="date">23/07/1997</p>
          <p class="description">A cherry blossom is the flower of any of several trees of genus Prunus, particularly the Japanese cherry, Prunus serrulata, which is called sakura after the Japanese (桜 or 櫻; さくら).</p>
        </div>
      </div>
    </div>



    <div class="container">
        <div class="flipper">
          <div class="front">
              <img src="assets/img/fjori2.jpg" alt="">
            <p class="caption">Ylang-Ylang</p>
          </div>
          <div class="back">
            <a href="https://en.wikipedia.org/wiki/Cherry_blossom" target="_blank">
              <h1>Cherry blossom</h1>
            </a>
            <p class="date">23/07/1997</p>
            <p class="description">A cherry blossom is the flower of any of several trees of genus Prunus, particularly the Japanese cherry, Prunus serrulata, which is called sakura after the Japanese (桜 or 櫻; さくら).</p>
          </div>
        </div>
      </div>




      <div class="container">
        <div class="flipper">
          <div class="front">
            <img src="assets/img/fjori4.jpg" alt="cherry blossoms">
            <p class="caption">Cherry blossom</p>
          </div>
          <div class="back">
            <a href="https://en.wikipedia.org/wiki/Cherry_blossom" target="_blank">
              <h1>Cherry blossom</h1>
            </a>
            <p class="date">23/07/1997</p>
            <p class="description">A cherry blossom is the flower of any of several trees of genus Prunus, particularly the Japanese cherry, Prunus serrulata, which is called sakura after the Japanese (桜 or 櫻; さくら).</p>
          </div>
        </div>
      </div>
      <hr class="hr">


      <div class="container">
        <div class="flipper">
          <div class="front">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-1/cherry-blossoms-unsplash.jpg" alt="cherry blossoms">
            <p class="caption">Cherry blossom</p>
          </div>
          <div class="back">
            <a href="https://en.wikipedia.org/wiki/Cherry_blossom" target="_blank">
              <h1>Cherry blossom</h1>
            </a>
            <p class="date">23/07/1997</p>
            <p class="description">A cherry blossom is the flower of any of several trees of genus Prunus, particularly the Japanese cherry, Prunus serrulata, which is called sakura after the Japanese (桜 or 櫻; さくら).</p>
          </div>
        </div>
      </div>
  
    <div class="container">
      <div class="flipper">
        <div class="front">
          <img src="https://images.pexels.com/photos/69776/tulips-bed-colorful-color-69776.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="white daisy">
          <p class="caption">Tulip</p>
        </div>
        <div class="back">
          <a href="https://en.wikipedia.org/wiki/Tulip" target="_blank">
            <h1>Tulip</h1>
          </a>
          <p class="date">14/07/2001</p>
          <p class="description">Tulips (Tulipa) form a genus of spring-blooming perennial herbaceous bulbiferous geophytes. The flowers are usually large, showy and brightly coloured, generally red, yellow, or white.</p>
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="flipper">
        <div class="front">
          <img src="https://images.pexels.com/photos/796658/pexels-photo-796658.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="Red Purple and Yellow Tulip">
          <p class="caption">Lavender</p>
        </div>
        <div class="back">
          <a href="https://en.wikipedia.org/wiki/Lavandula" target="_blank">
            <h1>Lavender</h1>
          </a>
          <p class="date">06/08/2004</p>
          <p class="description">Lavandula is a genus of 47 known species of flowering plants in the mint family. The most widely cultivated species is often referred to as lavender, and there is a color named for the shade of its the flowers. </p>
        </div>
      </div>
    </div>
  </div>