<header>
  <div class="container">
    <a routerLink="/" class="logo">MyShopOnline</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/list">List</a></li>
        <li><a href="#" routerLink="/product">Product</a></li>
        <li><a href="#" routerLink="/about">About</a></li>
        <li><a href="#" routerLink="/contact">Contact</a></li>
        <li><a href="#" routerLink="/news">News</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="background">
  
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>